{% extends "sidebar.html.twig" %}
{% block stylesheets %}
<link rel="stylesheet" href=" {{ asset('web/css/list-questions.css') }}" >
{% endblock %}
{% block body %}
<div class="container">
    <div class="question-list">
    {% for question in questions %}
        <div class="question">
            <div class="image-container">
                <img src="{{ question.image}}" alt="">
            </div>
            <div class="question-content">
                {{ question.question}}
            </div>
            <div class="choices">
                {% if question.getChoixes().get(0).isCorrect() == 1  %}
                    <div class="choice true">{{ question.getChoixes().get(0).getChoix()}}</div>
                {% else %}
                    <div class="choice">{{ question.getChoixes().get(0).getChoix()}}</div>
                {% endif %}  
                {% if question.getChoixes().get(1).isCorrect() == 1  %}
                    <div class="choice true">{{ question.getChoixes().get(1).getChoix()}}</div>
                {% else %}
                    <div class="choice">{{ question.getChoixes().get(1).getChoix()}}</div>
                {% endif %} 
                {% if question.getChoixes().get(2).isCorrect() == 1  %} 
                    <div class="choice true">{{ question.getChoixes().get(2).getChoix()}}</div>
                {% else %}
                    <div class="choice">{{ question.getChoixes().get(2).getChoix()}}</div>
                {% endif %} 
            </div>
            <div class="actions">
                <div class="btn">
                    <a href="" class="btn btn-warning">modifier</a>
                    <a href="" class="btn btn-danger">supprimer</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}