{% extends "base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('build/sign-in.css')}}"> 
{% endblock %}
{% block javascripts %}
    <script src="https://kit.fontawesome.com/640b361ca9.js" crossorigin="anonymous"></script>
{% endblock %}
{% block body %}
<div class="form-container">
    <h2>ACRO</h2>
    <h5>ajouter  compte</h5>
{{form_start(form)}}
    <div class="form-field">
        {{form_label(form.prenom)}}
        <div class="input-field">
            <div class="field-icon"><i class="fa-solid fa-user"></i></div>
            {{form_widget(form.prenom)}}
        </div>
        {% if form_errors(form.prenom) %}
        <div class="errors">{{form_errors(form.prenom)}}</div>
        {% endif %}
    </div>
    <div class="form-field">
        {{form_label(form.nom)}}
        <div class="input-field">
            <div class="field-icon"><i class="fa-solid fa-user"></i></div>
            {{form_widget(form.nom)}}
        </div>
        {% if form_errors(form.nom) %}
        <div class="errors">{{form_errors(form.nom)}}</div>
        {% endif %}
    </div>
    <div class="form-field">
        {{form_label(form.email)}}
        <div class="input-field">
            <div class="field-icon"><i class="fa-solid fa-envelope"></i></div>
            {{form_widget(form.email)}}
        </div>
        {% if form_errors(form.email) %}
        <div class="errors">{{form_errors(form.email)}}</div>
        {% endif %}
    </div>
    <div class="form-field">
        {{form_label(form.password)}}
        <div class="input-field">
            <div class="field-icon"><i class="fa-solid fa-lock"></i></div>
            {{form_widget(form.password)}}
        </div>
        {% if form_errors(form.password) %}
        <div class="errors">{{form_errors(form.password)}}</div>
        {% endif %}
    </div>
    <div class="form-field">
        {% if 'ROLE_SUPERADMIN' in current.roles %}
        <select name="roles" class="select-roles">
            <option value="ROLE_USER" selected>user</option>
            <option value="ROLE_ADMIN">admin</option>
        </select>
        {% endif %}
    </div>
    <div class="btn">
        <button type="submit">ajouter</button>
    </div>
    {{form_end(form)}}
<div>  
<a href="{{path('users.all_users')}}" class="back">retour</a>  
{% endblock %}
